{% extends "base.html" %}


{% block announce %}
<p style="margin-bottom: 0">Baru! Konfesi HKBP 1951 (<a href="/HKBP-Guidebook/konfesi-hkbp/1951/id">Indonesia</a> • <a href="/HKBP-Guidebook/konfesi-hkbp/1951/bbc">Batak</a>) dan 1966 (<a href="/HKBP-Guidebook/konfesi-hkbp/1966/id">Indonesia</a> • <a href="/HKBP-Guidebook/konfesi-hkbp/1966/bbc">Batak</a>) dan RPP HKBP (2022) (<a href="/HKBP-Guidebook/rpp-hkbp/2022/id">Indonesia</a> • <a href="/HKBP-Guidebook/rpp-hkbp/2022/bbc">Batak</a>)</p>

<p style="margin-top: 0">Baru di sini? Harap memahami sangkalan yang ada pada <a href="/HKBP-Guidebook/">halaman depan situs ini</a>.</p>
{% endblock %}